footer {
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: black;
    font-family: $mainfont;
}
